$max-content-width: 800px;
$primary-bg-color: #000;
$primary-text-color: #fff;
$px-small: 4px;
$px-large: 10px;
$border-radius: 0px;
$input-width: 260px;
$input-width-small: 40px;
$input-width-large: 400px;
$input-height: 46px;
$button-width: 200px;
$button-height: 40px;
$focus-height: 360px;
$font-size-small: 1rem;
$font-size-normal: 1rem;
$font-size-large: 1.5rem;
$disabled: grey;
$success: green;
