html,
body {
  padding: 0;
  margin: 0;
}
html a,
body a {
  color: inherit;
  text-decoration: none;
}
html img,
body img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.lightTheMatch > .before,
.lightTheMatch > .after {
  display: flex;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 0%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.lightTheMatch > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  to {
    box-shadow: 249px -589px hsl(225, 100%, 50%), -185px -1169px hsl(26, 100%, 50%), -314px -223px hsl(43, 100%, 50%), 319px -291px hsl(100, 100%, 50%), 444px -738px hsl(326, 100%, 50%), -346px -983px hsl(71, 100%, 50%), -347px -818px hsl(29, 100%, 50%), -507px -1071px hsl(68, 100%, 50%), 39px -631px hsl(264, 100%, 50%), 53px -828px hsl(97, 100%, 50%), 479px -480px hsl(178, 100%, 50%);
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 0;
  }
  20%, 39.9% {
    margin-top: 10%;
    margin-left: -30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
.logo {
  margin: 10px 0;
  padding: 0 4px;
}

.success {
  color: green;
}

.stack main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.banner {
  background-color: #000;
  color: #fff;
}
.banner .wizard-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  min-height: 360px;
}
.banner .wizard-container > div {
  display: flex;
  justify-content: space-between;
}
.banner h1,
.banner h2 {
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 1.5rem;
  text-align: center;
  margin: 10px auto;
}
.banner h2 {
  font-size: 1.125rem;
}
.banner form {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  max-width: 85%;
}
.banner form label {
  display: flex;
  flex-direction: column;
}
.banner form input {
  color: #000;
  background-color: #fff;
  height: 46px;
  padding: 4px;
  font-size: 16px;
  font-family: "Courier New", monospace;
}

.button,
button {
  border-radius: 0px;
  margin: 10px auto;
  text-align: center;
  max-width: 200px;
  min-width: 100px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  height: 40px;
  cursor: pointer;
}
.button.disabled, .button[disabled],
button.disabled,
button[disabled] {
  background-color: grey;
  color: #000;
  cursor: none;
  opacity: 30%;
}

.container {
  max-width: 85%;
  padding: 0 4px;
  margin: 4px auto;
  align-items: center;
}

.code-container {
  display: block;
  white-space: pre-wrap;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 0px;
  margin-bottom: 10px;
  font-family: "Courier New", monospace;
  line-height: 2rem;
  font-size: 1rem;
}

.slide-left {
  animation: slideLeft 0.75s ease;
}

.slide-right {
  animation: slideRight 0.75s ease;
}

.banner .wizard-container .step-indicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Center vertically */
}
.banner .wizard-container .step-indicator .step {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .wizard-container .step-indicator .step.active {
  background: rgb(0, 83, 167);
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
form.legalName {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* Media query styles */
}
form.legalName .a {
  grid-column: 1/span 4;
}
form.legalName .b {
  max-width: 100px;
  grid-column: 5/span 1;
}
form.legalName .c {
  grid-column: 1/span 5;
}
form.legalName button,
form.legalName .button {
  grid-column: 1/span 6;
  justify-self: center;
}
@media screen and (min-width: 800px) {
  form.legalName {
    grid-template-columns: repeat(9, 1fr);
  }
  form.legalName .a {
    grid-column: 1/span 4;
  }
  form.legalName .b {
    grid-column: 5/span 1;
  }
  form.legalName .c {
    grid-column: 6/span 4;
  }
  form.legalName button,
  form.legalName .button {
    grid-column: 5/span 1;
  }
}

.dob {
  min-width: 260px;
}

.cards {
  border: 1px solid inherit;
  padding: 4px;
}
.cards .card .heading {
  color: #fff;
  font-weight: bolder;
}
.cards .card .icon {
  color: green;
  margin-right: 10px;
}
.cards .card.success {
  color: green;
}
.cards .card .keyValue {
  padding-left: 10px;
  margin-left: 8px;
  border-left: 1px solid green;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}

.address {
  width: 260px;
}

/* Media query */
@media screen and (min-width: 800px) {
  .address {
    width: 400px;
  }
}
/* Media query styles */
@media screen and (max-width: 800px) {
  .banner .wizard-container > div {
    flex-direction: column;
  }
  .banner .wizard-container > div .back,
  .banner .wizard-container > div .forward {
    align-content: center;
  }
}/*# sourceMappingURL=globals.css.map */