@import './reset';
@import './variables';

.logo {
  margin: $px-small 0;
  padding: 0 $px-small;
}
.success {
  color: green;
}
.stack main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.banner {
  background-color: $primary-bg-color;
  color: $primary-text-color;
  .wizard-container {
    padding: $px-large;
    min-height: $focus-height;
    > div {
      display: flex;
      justify-content: space-between;
      .back,
      .forward {
        min-width: $button-width;
      }

      .back {
        justify-self: flex-start;
      }
      .forward {
        justify-self: flex-end;
      }
    }
  }
  h1,
  h2 {
    max-width: fit-content;
    font-size: $font-size-large;
    text-align: center;
    margin: $px-large auto;
  }

  h2 {
    font-size: calc($font-size-large * 0.75);
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: $max-content-width;
    label {
      font-size: $font-size-small;
      display: flex;
      flex-direction: column;
    }
    input {
      font-size: $font-size-normal;
      color: #000;
      background-color: $primary-text-color;
      height: $input-height;
      padding: $px-small;
      font-family: 'Courier New', monospace;
    }
  }
}

.button,
button {
  border: 1px solid $primary-text-color;
  border-radius: $border-radius;
  margin: $px-large auto;
  text-align: center;
  max-width: $button-width;
  padding: $px-small;
  background-color: $primary-bg-color;
  color: $primary-text-color;
  height: $button-height;
  cursor: pointer;
  &.disabled {
    background-color: $disabled;
    color: $primary-bg-color;
    cursor: not-allowed;
  }
}
.container {
  max-width: $max-content-width;
  padding: 0 $px-small;
  margin: $px-small auto;
  align-items: center;
}

.code-container {
  display: block;
  white-space: pre-wrap;
  background-color: #f7f7f7;
  padding: $px-large;
  border-radius: $border-radius;
  margin-bottom: $px-large;
  font-family: 'Courier New', monospace;
  line-height: calc($font-size-small * 2);
  font-size: $font-size-small;
}

.slide-left {
  animation: slideLeft 0.75s ease;
}

.slide-right {
  animation: slideRight 0.75s ease;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@import './components/';

/* Media query styles */
@media screen and (max-width: 800px) {
  .banner .wizard-container div {
    flex-direction: column;
    .back,
    .forward {
      align-content: center;
    }
  }
}
