form.legalName {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  /* Default styles */
  .a {
    grid-column: 1/3;
  }

  .b {
    grid-column: 3/4;
  }

  .c {
    grid-column: 4/6;
  }
  button,
  .button {
    grid-column: 3/4;
  }

  /* Media query styles */
  @media screen and (max-width: 800px) {
    .a {
      grid-column: 1/4;
    }

    .b {
      grid-column: 4/6;
    }

    .c {
      grid-column: 1/6;
    }
  }
}

.wizard-container {
  position: relative;
}

.slide-left {
  animation: slideLeft 0.5s ease;
}

.slide-right {
  animation: slideRight 0.5s ease;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
