body {
  .banner {
    form {
      .legalName {
        display: grid;
        grid-template-columns: 40% 20% 40%;
        grid-gap: 1rem;
        justify-content: space-between;
        gap: var(--px-small);
        .a {
          grid-area: a;
        }

        .b {
          grid-area: b;
        }

        .c {
          grid-area: c;
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    .banner form .legalName {
      grid-template-areas: 'a a b' 'c c c';
    }
  }
}

.wizard-container {
  position: relative;
}

.slide-left {
  animation: slideLeft 0.5s ease;
}

.slide-right {
  animation: slideRight 0.5s ease;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
