form.legalName {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  .a {
    grid-column: 1 / span 4;
  }

  .b {
    max-width: $input-width-min;
    grid-column: 5 / span 1;
  }

  .c {
    grid-column: 1 / span 5;
  }

  button,
  .button {
    grid-column: 1 / span 6;
    justify-self: center;
  }

  /* Media query styles */
  @media screen and (min-width: 800px) {
    grid-template-columns: repeat(9, 1fr);

    .a {
      grid-column: 1 / span 4;
    }

    .b {
      grid-column: 5 / span 1;
    }

    .c {
      grid-column: 6 / span 4;
    }

    button,
    .button {
      grid-column: 5 / span 1;
    }
  }
}
