.cards {
  border: 1px solid inherit;
  padding: $px-small;
  .card {
    .heading {
      color: #fff;

      font-weight: bolder;
    }
    .icon {
      color: $color-success;
      margin-right: $px-large;
    }
    &.success {
      color: $color-success;
    }
    .keyValue {
      padding-left: $px-large;
      margin-left: $px-small * 2;
      border-left: 1px solid $color-success;
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(2, 1fr);
      gap: $px-small;
    }
  }
}
