:root {
  --primary-bg-color: #000;
  --primary-text-color: #fff;
  --px-small: 8px;
  --px-large: 20px;
  --border-radius: 4px;
  --input-width: 260px;
  --input-width-small: 60px;
  --input-height: 26px;
  --button-width: 260px;
  --button-height: 40px;
  --focus-height: 600px;
  --font-size-small: 0.85rem;
  --font-size-medium: 1.15rem;
  --font-size-large: 1.75rem;
}
// Small reset
html,
body {
  padding: 0;
  margin: 0;

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
// Small reset: end

html,
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .logo {
    margin: var(--px-small) 0;
    padding: 0 var(--px-small);
  }

  .banner {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    h1 {
      font-size: var(--font-size-large);
      text-align: center;
      line-height: 1.25;
    }
    h2 {
      font-size: var(--font-size-medium);
      text-align: center;
    }

    form {
      margin: var(--px-large) 0;
      display: flex;
      flex-direction: column;
      min-height: 200px;
      label {
        font-size: var(--font-size-small);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      input {
        color: #000;
        background-color: var(--primary-text-color);
        height: var(--input-height);
        padding: var(--px-small);
        border-radius: var(--border-radius);
        &.small {
          max-width: var(--input-width-small);
        }
      }
    }
  }
  .button,
  button {
    border: 1px solid var(--primary-text-color);
    border-radius: var(--border-radius);
    margin: var(--px-large) auto;
    text-align: center;
    min-width: var(--button-width);
    padding: var(--px-small);
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
  }
  .container {
    width: 800px;
    padding: 0 var(--px-small);
    margin: var(--px-small) auto;
    align-items: center;
  }
  .stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .code-container {
    display: block;
    white-space: pre-wrap;
    background-color: #f7f7f7;
    padding: var(--px-large);
    border-radius: var(--border-radius);
    margin-bottom: var(--px-large);
    font-family: 'Courier New', monospace;
    line-height: calc(var(--font-size-small) * 2);
    font-size: var(--font-size-small);
  }

  @media screen and (max-width: 800px) {
    .container {
      max-width: 90%;
      min-width: 280px;
    }
    .banner {
      padding: 0 var(--px-large);
      form .fields {
        display: block;
        input {
          width: 100%;
          &.small {
            width: 100%;
          }
        }
      }
    }
  }
}
